<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="shared/head :: head"/>
<body>
	
	<div th:replace="shared/header :: header"></div>
	
	<div class="list-wrapper" style="margin: 25px;">
    <h2 style="display: inline-block">Candidatos</h2>
    <a href="/candidato/add">
    <h2 style="float: right; color: #007bff">Nuevo</h2>
    </a>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Distrito</th>
            <th>Partido</th>
            <th>Estado</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
        	<tr th:each="c:${candidatos}">
        		<td th:text="${c.id}"></td>
          		<td th:text="${c.nombre}"></td>
          		<td th:text="${c.apellido}"></td>
          		<td th:text="${c.distrito.nombre}"></td>
          		<td th:text="${c.partidopolitico.nombre}"></td>
          		<td th:text="${c.estado}"></td>
          		<td><a th:href="${'edit/' + c.id}">Editar</a></td>
         	</tr>
        </tbody>
      </table>
    </div>
  </div>
	
</body>
</html>