<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="shared/head :: head"/>
<body>
	
	<div th:replace="shared/header :: header"></div>
	
	  <div class="form-wrapper">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h4 class="mb-3">Nuevo Candidato</h4>
        <form method="POST" th:action="@{/candidato/delete}" th:object="${candidato}">
    	  <input type="hidden" th:field="*{id}"></input>
    		
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="mi nombre" required=""
            th:field="*{nombre}" disabled="disabled"/>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
    		
          <div class="mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="mi apellido" required=""
            th:field="*{apellido}" disabled="disabled"/>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>

          <div class="mb-3">
              <label for="state">Distrito</label>
              <select class="custom-select d-block w-100" id="state" required=""
              th:field="*{distrito}" disabled="disabled">
                <option th:each="d:${distrito}" th:value="${d.id}" th:text="${d.nombre}"></option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

          <div class="mb-3">
              <label for="state">Partido</label>
              <select class="custom-select d-block w-100" id="state" required=""
              th:field="*{partidopolitico}" disabled="disabled">
                <option th:each="p:${partido}" th:value="${p.id}" th:text="${p.nombre}"></option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

          <div class="mb-3">
              <label for="state">Estado</label>
              <select class="custom-select d-block w-100" id="state" required=""
              th:field="*{estado}" disabled="disabled">
                <option th:each="e:${estado}" th:value="${e}" th:text="${e}"></option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
      
          <hr class="mb-4"/>
          <button id="btnEliminar" class="btn btn-danger btn-md" type="submit">Eliminar</button>
          <a href="/OnpeWeb/candidato/list" class="btn btn-warning btn-md" role="button" aria-pressed="true">Cancelar</a>
     
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
	
	
</body>
</html>