<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OnpeTestSuite" parallel="false">
	<test name="CategoriaTest" enabled="false">
		<parameter name="nombreInsertar" value="Chocolates" />
		<parameter name="nombreActualizar" value="Lacteos" />
		<classes>
			<class name="pe.com.test.CategoriaTest" />
		</classes>
	</test>
	<test name="DistritoWebDriverTest">
		<classes>
			<class name="com.onpe.selenium.DistritoWebDriverTest" />
		</classes>
	</test>
</suite> 