<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll" parallel="false">
  <test name="DistritoTest" enabled="false">
    <classes>
      <class name="com.onpe.testng.DistritoTest"/>
    </classes>
  </test>
  <test name="PartidoPoliticoTest" enabled="false">
    <classes>
      <class name= "com.onpe.testng.PartidoPoliticoTest"/>
    </classes>   
  </test>
  <test name="UsuarioTest">
    <classes>
      <class name= "com.onpe.testng.UsuarioTest"/>
    </classes>   
  </test>
</suite> <!-- Suite -->