<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<div th:fragment="headerindex">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Onpe</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a id="btnPartido" class="p-2 text-dark" href="partido/list">Partidos</a>
      <a id="btnDistrito" class="p-2 text-dark" href="distrito/list">Distritos</a>
      <a id="btnCandidato" class="p-2 text-dark" href="candidato/list">Candidatos</a>
    </nav>
    <a id="btnSignup" class="btn btn-outline-primary" href="signup" style="margin-right: 5px">Sign up</a>

    <a id="btnLogin" class="btn btn-outline-primary" href="login">Log in</a>
</div>
</div>
</html>